#maindiv{
    background-color: #D7DBDD;
}
#leftdiv{
    background-color: #D7DBDD ;
    width:50%;
    float:left;
}
#rightdiv{
    background-color: #D7DBDD ;
    width:50%;
    float:right;
    
}
#searchbar{
    height:30px;
    width:40%;
    float:center;
}
#searchbutton{
    height:30px;
    width:20%;
    float:center;
    background-color:#F5B7B1  ;
}
#tab{
    border: 1px solid black;

}
#addbutton{
    height:30px;
    width:20%;
    float:center;
    background-color:#F5B7B1  ;  
}
#resetbutton{
    height:30px;
    width:20%;
    float:center;
    background-color:#F5B7B1  ;  
}
#quan{
    width:60px;
}
#checkoutbutton{
    height:30px;
    width:20%;
    float:right;
    background-color:#F5B7B1  ;  
    margin-right:200px;
}